$blue: #0d6efd;
$blue-light: #f4f9fb;
$white: #fff;
$white-light: #f1f1f1;
$black: #333;
$gray: #888;
$red: #e06c75;
$green: #1bc5bd;

/// sizes
// for paragraph
$lh-p: 1.6;
$ls-p: 1px;
$ws-p: 0.5px;
$fs-p: 14px;

// for links
$ls-l: 0.5px;
$ws-l: 1px;
$fs-l: 13px;

