/* style of contact page */ 
@use '../abstracts' as *;
.contact {
    background-color: var(--white);
    .contact-form {
        @include media("sm") {
            width: 300px;
            margin: auto;
        }
        @include media('md') {
            width: 400px;
        }
    }
    .contact-form * {
        display: block;
        width: 100%;
        background-color: #f1f1f1;
        padding: 10px;
        border: none;
        font-size: $fs-l;
        color: #333;
        caret-color: var(--gray);
        &:is(:hover,:focus) {
            outline: none;
        }
    }
    .submit {
        background-color: var(--blue);
        color: #fff;
        font-size: 16px;
        letter-spacing: $ls-l;
        opacity: 0.8;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
            opacity: 1;
        }
    }
}
::placeholder {
    color: var(--gray);
}


